---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';
import styles from '@pages-styles/homepage.module.scss';
import { Quotes } from '@components/quotes/Quotes';
import { quotesData } from '@components/quotes/quotesData';
import { LandingPageFWSelector } from '@ag-website-shared/components/landing-pages/LandingPageFWSelector';
import InstallText from '@components/framework-landing-pages/InstallText';
import { AutomatedExamples } from '@ag-website-shared/components/automated-examples/AutomatedExamples';
import { urlWithBaseUrl } from '@utils/urlWithBaseUrl';
import { Version } from '@ag-website-shared/components/whats-new/components/Version';
import { Icon } from '@ag-website-shared/components/icon/Icon';
import Showcase from '../components/framework-landing-pages/react/sections/showcase/Showcase';
import { parseVersion } from '@ag-website-shared/utils/parseVersion';
import whatsNewData from '@ag-website-shared/content/whats-new/data.json';
import { LandingPageSection } from '@ag-website-shared/components/landing-pages/LandingPageSection';
import { LandingPageFAQ } from '@ag-website-shared/components/landing-pages/LandingPageFAQ';
import { CustomerLogos } from '@components/customer-logos/CustomerLogos';
import { Finance } from 'src/components/demos/examples/finance';
import { ThemeBuilderHomepage } from '@components/theme-builder-homepage/ThemeBuilderHomepage';

const { data: versionsData } = await getEntry('versions', 'ag-grid-versions');
const { data: FAQData } = await getEntry('homepage', 'homepageFAQs');
const { blogPrefix } = whatsNewData['grid'];

const frameworksData = [
    {
        name: 'react',
        url: '/react-data-grid/',
    },
    {
        name: 'angular',
        url: '/angular-data-grid/',
    },
    {
        name: 'vue',
        url: '/vue-data-grid/',
    },
    {
        name: 'javascript',
        url: '/javascript-data-grid/',
    },
];
---

<!-- Grid font for Quartz theme -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap" rel="stylesheet" />

<!-- Prefetch customer logos -->
<link
    rel="preload"
    fetchpriority="high"
    as="image"
    href={urlWithBaseUrl('/images/ag-grid-customer-logos.webp')}
    type="image/webp"
/>

<Layout
    title="AG Grid: High-Performance React Grid, Angular Grid, JavaScript Grid"
    description={'AG Grid is a feature-rich datagrid for major JavaScript frameworks, offering filtering, grouping, pivoting, and more. Free Community version or 2-month Enterprise trial available.'}
    showSearchBar={false}
    showDocsNav={false}
>
    <div class={styles.homepageHero}>
        <section class:list={[styles.heroInner, 'layout-max-width-small']}>
            <section class={styles.heroHeadings}>
                <h1 class="text-xl">The&nbsp;Best&nbsp;JavaScript Grid&nbsp;in&nbsp;the&nbsp;World</h1>
                <h2 class="text-base normal-weight-text">
                    Fully customisable and framework agnostic Data Grid that <br /> can handle millions of cells out of the
                    box, for free.
                </h2>
                <div class={styles.heroSectionbuttonContainer}>
                    <a
                        class:list={[
                            'button-secondary',
                            styles.heroSectioncta1,
                            'plausible-event-name=react-table-get-started',
                        ]}
                        href={urlWithBaseUrl('./example')}>See demos <Icon name="chevronRight" /></a
                    >
                    <div class={styles.heroSectioncta2}>
                        <InstallText client:load />
                    </div>
                </div>
            </section>
        </section>
        <section class={styles.heroSectiondemoContainer}>
            <Finance client:load gridHeight={450} />
        </section>
    </div>

    <div class={styles.homepageFrameworks}>
        <div class:list={[styles.frameworksInner, 'layout-max-width-small']}>
            <LandingPageFWSelector client:load data={frameworksData} isFullWidth />
        </div>
    </div>

    <div class={styles.homepageCustomers}>
        <CustomerLogos client:load />
    </div>

    <AutomatedExamples client:visible />

    <LandingPageSection
        tag="Theming and customisation"
        heading="Personalise the grids appearance"
        subHeading="Customise your Data Grid with our Theming API and Custom Components or upgrade to enterprise to use our advanced features."
        ctaTitle="Use the Theme Builder"
        ctaUrl={urlWithBaseUrl('/theme-builder/')}
    >
        <ThemeBuilderHomepage gridHeight={261} client:visible />
    </LandingPageSection>

    <LandingPageSection
        tag="See the use cases"
        heading="Used in Every Industry, for All Types of Data"
        subHeading="Trusted by 90% of Fortune 500 industries from Finance and AI, to DevTools and Aeronautics. Most of these uses are private, but we've hand-picked a few open-source examples:"
        ctaTitle="See More Projects Powered by AG Grid"
        ctaUrl={urlWithBaseUrl('/community/showcase/')}
    >
        <Showcase client:load />
    </LandingPageSection>

    <LandingPageSection
        tag="Who Builds Data Grids with AG Grid?"
        heading="Loved By Developers, Trusted By The Worlds Largest Enterprises"
        subHeading="Over 90% of the Fortune 500 use AG Grid, with 1,000,000+ npm downloads per week and over 12,000 Stars on GitHub."
    >
        <Quotes client:load data={quotesData} />
    </LandingPageSection>

    <LandingPageSection
        tag="Latest JavaScript Charting Releases from AG Grid"
        headingHtml="Regular Releases, <br /> Updates, and Enhancements"
        subHeading="With minor releases every 6 weeks, and major releases every 6 months, stay up to date with all of the newest features and improvements to AG Grid Data Grids."
        ctaTitle="See Whats New"
        ctaUrl={urlWithBaseUrl(
            '/whats-new/?utm_source=charts-homepage&utm_medium=whats-new-section&utm_campaign=homepage-cta'
        )}
        showBackgroundGradient
    >
        <div class={styles.latestNewsVersions}>
            {
                versionsData
                    .filter((versionInfo) => versionInfo.version.endsWith('.0')) // Exclude patch releases
                    .slice(0, 3)
                    .map((versionInfo, index) => {
                        if (versionInfo.highlights) {
                            const { major, minor } = parseVersion(versionInfo.version);
                            const blogUrl = `${minor ? `${blogPrefix}${major}-${minor}` : `${blogPrefix}${major}`}/`;
                            return (
                                <Version
                                    client:load
                                    isLatest={index === 0}
                                    blogUrl={blogUrl}
                                    version={versionInfo.version}
                                    date={versionInfo.date}
                                    highlights={versionInfo.highlights}
                                    notesPath={versionInfo.notesPath}
                                />
                            );
                        }
                    })
            }
        </div>
    </LandingPageSection>

    <LandingPageSection
        tag="Data Grid FAQs"
        heading="Frequently Asked Questions"
        subHeading="How many rows can AG Grid handle? How fast is AG Grid? Is AG Grid free? Answers to these common questions and more."
        sectionClass={styles.faqSection}
    >
        <LandingPageFAQ client:load FAQData={FAQData} framework={'react'} />
    </LandingPageSection>
</Layout>
