---
import { Icon } from '@ag-website-shared/components/icon/Icon';
import styles from './DocumentationArchive.module.scss';
import type { Library } from '@ag-grid-types';
import { pathJoin } from '@utils/pathJoin';
import { PRODUCTION_GRID_SITE_URL, PRODUCTION_CHARTS_SITE_URL } from '@constants';
import { ArchiveLink } from './ArchiveLink';
import { versionIsGreaterOrEqual } from '@ag-website-shared/utils/versionIsGreaterOrEqual';

interface Props {
    site: Library;
    versionsData: any[];
}

const { site, versionsData } = Astro.props as Props;

const FIRST_GRID_VERSION_WITH_HOMEPAGE = '27.3.0';

const getVersionType = (version: string) => {
    const [_, minor, patch] = version.split('.');

    if (patch !== '0') {
        return 'Patch';
    } else if (minor !== '0') {
        return 'Minor';
    } else {
        return 'Major';
    }
};

const isMajor = (version: string) => {
    return getVersionType(version) === 'Major';
};

const getChangelogUrl = (version: string) => {
    const changelogBaseUrl = `/changelog/?fixVersion=${version}`;

    const baseUrl = site === 'charts' ? PRODUCTION_CHARTS_SITE_URL : PRODUCTION_GRID_SITE_URL;

    return pathJoin(baseUrl, changelogBaseUrl);
};
---

<div class={styles.docsArchiveContainer}>
    <h1>Documentation Archive</h1>
    <p class={styles.description}>Review documentation for previous AG {site} versions.</p>

    <table class={styles.archiveTable}>
        {
            versionsData.slice(1).map(({ noArchive, version, versionType, date }) => {
                if (noArchive) return;

                const useDocumentationLink =
                    (site === 'grid' && versionIsGreaterOrEqual(version, FIRST_GRID_VERSION_WITH_HOMEPAGE)) ||
                    site === 'charts';

                return (
                    <tr>
                        <td class="text-base text-monospace text-semibold">{version}</td>

                        <td>{date}</td>

                        <td>
                            <span class={isMajor(version) ? styles.major : undefined}>
                                {versionType || getVersionType(version)}
                            </span>
                        </td>

                        <td>
                            <a href={getChangelogUrl(version)}>
                                Changelog <Icon name="arrowRight" />
                            </a>
                        </td>

                        <td>
                            <ArchiveLink site={site} version={version} useDocumentationLink={useDocumentationLink} />
                        </td>
                    </tr>
                );
            })
        }
    </table>
</div>
